.icon {
    color: rgba(241, 222, 45, 0.651);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icon:hover {
    color: rgba(241, 222, 45, 0.651);
    transition: 0.9s;
    transform: rotate(180deg);
}
